body {
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(135deg, #d1f3ff, #fff1d6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

input, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  background-color: #00b4d8;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#userList {
  text-align: left;
  margin-top: 15px;
}
